body
{
    background-color: rgb(238, 249, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li 
{
    background-color: pink;
}

.favorites
{
    font-size: x-large;
    margin:0;
}